<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>483311387463-i7g5qncoqbqr2u0t59h3ru9ditv01hgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483311387463-i7g5qncoqbqr2u0t59h3ru9ditv01hgc</string>
	<key>API_KEY</key>
	<string>AIzaSyDkww-tWoViHGk34T_VDqDCH-jv6qTvk1k</string>
	<key>GCM_SENDER_ID</key>
	<string>483311387463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epam.firemomo</string>
	<key>PROJECT_ID</key>
	<string>firemomo-bd063</string>
	<key>STORAGE_BUCKET</key>
	<string>firemomo-bd063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:483311387463:ios:b787a6c84e10d6d1</string>
	<key>DATABASE_URL</key>
	<string>https://firemomo-bd063.firebaseio.com</string>
</dict>
</plist>
